<!-- Example of loading from CDNJS: -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>
<div class="full-left" style="height: 800px">
  <div
    [chart]="chartObjekt"
    style="width: 100%; height: 90%; display: block"
  ></div>
  <mat-card style="height: 10%;">
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
      <span>Legend: Population healthyness</span>
      <span style="color: #39ff14; font-weight: bold;">100%</span>
      <span style="color: #d4ff14; font-weight: bold;">>75%</span>
      <span style="color: #ffd900; font-weight: bold;">>50%</span>
      <span style="color: #ff7300; font-weight: bold;">>25%</span>
      <span style="color: #FF0000; font-weight: bold;">>0%</span>
      <span *ngIf="currentRound">Round: {{currentRound}}</span>
      <span *ngIf="currentPopulation && currentPopulationPercentage">Population: {{currentPopulation}} {{currentPopulationPercentage}}%</span>
      <span *ngIf="outcome">Outcome: {{outcome}}</span>
    </div>    
  </mat-card>
</div>
 

